a {
  text-decoration: none;
  color: #444444;
}

.sidebar__options {
  width: 90%;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px 14px;
  margin: 10px 0;
}

.sidebar__options:hover {
  background-color: #efefef;
  border-radius: 5px;
  color: #827ed8;
  transition: color 200ms ease-out;
}

.sidebar__options > h2 {
  font-weight: 500!important;
  font-size: 18px;
}

.sidebarOption--active {
  background-color: #e5e5e5;
  border-radius: 5px;
  color: #827ed8;
}
